body{
    height: 100%;
    width: 100%;
    background-image: url(./vodka.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
.Menu{
    margin: 25% 0 auto   ;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
     &__stats{

display: flex;
flex-direction: column;
background-color: gainsboro;
height: 400px;
width: 200px;
  
&__Balance{
  border: 2px solid black;
}

&__Beer{
  border: 2px solid black;
}
&__Vine{
  border: 2px solid black;
}
&__Pepsi{
  border: 2px solid black;
}

    }
      &__buy{
        display: flex;
flex-direction: column;
background-color: gainsboro;
height: 400px;
width: 200px;
&__preview{
  height: 100px;
  border: 2px solid black;
  display: flex;
  flex-direction:column;
}
    }

      &__count{
        
     display: flex;
    flex-direction: column;
    background-color: gainsboro;
    height: 400px;
    width: 200px;
    &__preview{
       
      display: flex;
      flex-direction: column;
    }
}
}

// .Menu__stats:nth-child(odd){
//   border: 2px solid black;
 
// }
 